<!--main content start-->
<div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4" >
        <div class="input-group col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <input type="text" [disabled]="disabled" [(ngModel)]="selectedBackend.pkCode" autocomplete="off"
            (keyup)="updateBackends($event.target.value)" (focus)="updateBackends($event.target.value)" (blur)="clearSearchResults()"
            style="margin:5px 5px 5px 0px;"
            />
            <span *ngIf="selectedBackend.pkCode" class="input-group-addon" id="searchclear" style="right:5px" class="glyphicon glyphicon-remove" (click)="clearSearchInput()"></span>
        </div>
    </div>
    <i class="fa fa-plus-square image-pointer" aria-hidden="true" (click)="add()" style="font-size:1.2em; margin-top: 15px;"></i> &nbsp;

</div>
<!--<span *ngIf="selectedBackend != undefined"> {{selectedPkDirection}}</span>-->
<div style="width:60%; height:200px; overflow: auto; z-index:200;" class="suggestions" *ngIf="backends.length > 0">
    <table style="width:100%;" >
        <tbody>
            <tr *ngFor="let item of backends" (mousedown)="select(item)">
                <td> <b>{{item.pkCode}}</b> </td>
                <td> {{item.pkDirection}} </td>
            </tr>
        </tbody>
    </table>
</div>
    <p *ngIf="existingBackends.length == 0"> <b>No backend associated to assignment (mandatory) </b> </p>
    <table *ngIf="existingBackends.length > 0" class="table table-striped table-bordered table-condensed table-responsive" [mfData]="existingBackends"
        #assignedTable="mfDataTable" [mfRowsOnPage]="3" [mfActivePage]="activePage">
        <thead>
            <tr>
                <th style="width: 8%"> Action </th>
                <th style="width: 39%">Code </th>
                <th style="width: 53%"> Direction </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let backend of assignedTable.data">
                <td>&nbsp; &nbsp;
                    <i class="fa fa-times image-pointer" aria-hidden="true" (click)="deleteBackend(backend)" style="font-size:1.5em;"></i>                                </td>
                <td class="color-black">{{ backend.pkCode | uppercase }}</td>
                <td class="color-black">{{ backend.pkDirection }}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">
                    <mfBootstrapPaginator [rowsOnPageSet]="[]"></mfBootstrapPaginator>
                </td>
            </tr>
        </tfoot>
    </table>
    <div *ngIf="existingBackends.length < 4" [style.margin.px]="bodyMargin">&nbsp;</div>
<!-- <alert (alertOutput)="confirmClose($event)"></alert> -->